<div class="pagina1">
    <section>
        <h1>{{nome | uppercase}}</h1>
        <h3>Título da Section 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad cupiditate distinctio ea, eos illum
           inventore itaque nam nostrum obcaecati quis recusandae temporibus vel veritatis voluptatem. Accusantium
           alias consectetur cum et, minus molestiae nesciunt officiis praesentium tempora vel. Aliquam aspernatur,
           beatae commodi corporis culpa cumque dignissimos dolorem doloribus eius eligendi, eos error et facere
           facilis impedit nemo officiis, optio praesentium provident quaerat quam quia quis quisquam ratione
           repellendus saepe totam voluptas! Aperiam, architecto at commodi consectetur deserunt doloremque eius id
           maxime neque quas ratione tempore voluptate, voluptatibus. Asperiores dolore dolorem exercitationem fugit
           maxime obcaecati qui reprehenderit unde vitae. Sapiente, voluptate?</p>
        <img src="http://placehold.it/350x150" alt=""/>
    </section>
</div>